*{
    padding: 0;
    margin: 0;
}

.javac{
    display: flex;
    padding-top: 5rem; 

}


.java_menu{
    text-align: center;
    width: 24%;
    font-size: 1.3rem;
    background: #FFAFBD;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffc3a0, #FFAFBD);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffc3a0, #FFAFBD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-bottom: 3px solid rgb(238, 177, 230);
    
}

.java_menu ul{
    margin-top: 2rem;
    list-style: none;
}

.java_menu ul li{
    margin-bottom: 5px;
    padding:5px 0 4px 10px;       
}

.java_menu ul li a {
    font-size: 1rem;
    text-decoration: none;
    color: rgb(189, 17, 132);
}

.java_menu ul li a:hover{
    padding-left: 1rem;
    font-size: 1.2rem;
    border-bottom: 2px solid rgb(230, 111, 214);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 5px;
    color: rgb(135, 75, 214);
    transition: 0.4s;
}

/*************************duplicate code*********/
.java_notes{
    padding-top: 5rem ;
    max-width: 78%;
    height: 90%;
    
}

.java_notes h2{
    margin: 10px 0 10px 30px;
    font-size: 2rem;

}

.java_notes img {
    max-width: 50%;
    margin: 10px 0 10px 30px;
}

.java_notes p,.java_notes li, .java_notes h3{
    font-size: 1.3rem;
    padding: 10px;
    margin: 10px 0 10px 30px;
}
.java_notes ul {
    margin-top: 10px;
    margin-left: 30px;
    
}



/****************Jump buttons Work here *****/
 
.jumper{
    display: flex;
    justify-content: end;
    align-items: center;
    
}

.jumper a i {
    
    font-size: 2.4rem;
    color: #000;
    margin-right: 0.7rem;
    border-radius:50px;
    background-color: rgb(230, 111, 214);
    
}

.jumper a i:hover {
    background-color: rgb(177, 162, 233);
    
}

.jump_buttons_updated {
    display: flex;
    justify-content: center;
    justify-items: center;
    max-width: 100%;
    margin-bottom: 2rem;
    
    
}

.jump_buttons_updated  a {
    color: black;
    font-size: 1rem;
    text-decoration: none;
    margin: 30px 0 0 20px;
    padding: 5px 25px 5px 25px;
    background-color: rgb(230, 111, 214);
    border-radius: 10px;
    text-decoration: none;
    box-shadow: 1vw 1vw 1vw rgb(221, 134, 221);
}
.jump_buttons_updated  a:hover{
    background-color: rgb(177, 162, 233);
}
