@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f4f9fa;
}

.bg {

    background: #f4f9fa;
}

.notes {
    color: rgb(75, 137, 218);

}

nav {
    opacity: 0.95;
    position: fixed;
    z-index: 1111;
    width: 100%;
    padding: 0px 50px 0px 90px;
    height: 100px;
    background: #ef32d9;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #89fffd, #ef32d9);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #89fffd, #ef32d9);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    align-items: center;
    /* border-bottom: 3px solid  #b2edf7; */
    box-shadow: 1px 1px 1px 1px #c3e7ee;

}

nav .logo {
    font-size: 33px;
    color: rgb(40, 185, 161);
    ;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
}

nav ul {
    display: flex;
    max-width: 100%;
    list-style: none;
    justify-content: center;
    align-items: center;

}

nav ul li {
    margin: 0 6px;
}

.ss {

    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 8px 10px;
    transition: all 0.5s ease;
    border-radius: 12px;
}

.ss:hover {
    background: rgb(197, 235, 255);
}

.ico {
    color: #19547b;
    /* color: #429ef3; */
    /* fallback for old browsers */
    font-size: 1.8rem;

}


.main {
    position: relative;
    top: 100px;
    height: 350px;
    margin-bottom: 8rem;
    background-image: url("../src/header.png");
    padding-top: 3rem;
    background-color: #f4f9fa;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

}

/* box-shadow: 2px 2px 2px 2px rgb(141, 167, 221); */

.wel h1 {
    color: #daf8f8;
    font-size: 2.3rem;
    margin-bottom: 1rem;
}



/* auto text effect */

.autoEffect {
    padding: 1rem;

}



.auto {
    margin-left: 5px;
    width: 0ch;
    overflow: hidden;
    white-space: nowrap;
    animation: text 6s infinite alternate;
}


.redHead {
    color: rgb(223, 230, 250);
}

.welcome {
    margin-top: 0.8rem;
    margin-left: 3rem;
    color: #4ca2cd;
    font-size 2rem
}

.search {
    display: flex;
    justify-content:center;
    align-items:center;
    width: 100%;
}

.searchb {
    text-align: center;
    font-size: 1rem;
    width: 40%;
    height: 30px;
    background-color: #c3e7ee;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    border: none;
}

.search_button {
    cursor: pointer;
    background-color: #b1dde6;
    height: 30px;
    border: none;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.search_button:hover{
    color: #A43931;
}
/*course book works here *****/

.coursebook {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
    margin-bottom: 3rem;

}

.ico_coursbook {

    font-size: 5rem;
}

.Course_btn {
    width: 45%;
    height: 170px;
    margin-top: 2rem;
    padding-top: 2rem;
    text-align: center;
    transition: transform 0.6s;
    border-radius: 15px;

}

.Course_btn:hover {
    background-color: #e4f6fa;
    box-shadow: 1vw 1vw 1vw rgb(141, 167, 221);
    transform: scale(1.01);
}

.Course_btn a {
    text-decoration: none;
    color: black;
}


.coursebookimg {
    max-width: 80%;
}

.course_book_heading {
    font-size: 1rem;
    text-align: center;

}


.firstcolor {
    background: #FFAFBD;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffc3a0, #FFAFBD);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffc3a0, #FFAFBD);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.secondcolor {
    background: #3494E6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EC6EAD, #3494E6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EC6EAD, #3494E6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.thirdcolor {
    background: #67B26F;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4ca2cd, #67B26F);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4ca2cd, #67B26F);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.fourthcolor {
    background: #A770EF;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FDB99B, #CF8BF3, #A770EF);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FDB99B, #CF8BF3, #A770EF);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.fifthcolor {
    background: #ffd89b;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #19547b, #ffd89b);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #19547b, #ffd89b);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.sixcolor {
    background: #42275a;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #734b6d, #42275a);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #734b6d, #42275a);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.sevencolor {
    background: #2C3E50;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FD746C, #2C3E50);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FD746C, #2C3E50);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.eightcolor {
    background: #1D4350;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #A43931, #1D4350);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #A43931, #1D4350);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}



/************footer work here ***********/

footer {
    background-color: rgb(48, 46, 48);
}

.quick h1 {
    text-align: center;
    color: white;
    font-size: 1.4rem;
    padding-top: 1rem;
    margin-bottom: 2rem;

}

.quick ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;

}

.quick ul li {

    padding: 6px;
}

.shear_maintainer {
    margin-top: 3rem;
    padding-bottom: 0.6rem;
    display: flex;
    justify-content: space-between;


}

.shear {
    display: flex;
    align-items: center;
    padding: 5px;

}

.shear i {
    padding-left: 15px;
}

footer i:hover {
    scale: 170%;
    color: rgb(221, 85, 85);
    transition: 0.5s;
}

.m-logo {
    display: flex;
    justify-content: end;
    align-items: center;

}

.m-logo img {

    margin: 3px;
    max-width: 35px;

}


.m-logo img:hover {
    scale: 170%;
    transition: 0.5s;
}


/* copyright & designed heading */

.ms {
    color: rgb(255, 255, 255);
    transition: 0.5s;
    margin-right: 20px;
    text-align: center;

}

.copy {
    border-top: 2px solid rgb(173, 187, 248);
    box-shadow: 3px 3px 3px 3px rgb(173, 187, 248);
    padding-top: 1.6rem;
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.policy {
    color: rgb(255, 255, 255);
    cursor: pointer;
}



.copyRight {
    color: rgb(255, 255, 255);
    text-align: center;
    cursor: pointer;

}

.bb {
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
}