@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(244, 228, 255);
}

.notes {
    color: rgb(209, 78, 192);

}

nav {
    height: 100px;
    background: rgb(244, 232, 253);
    align-items: center;
    padding: 0px 50px 0px 90px;
}

nav .logo {
    font-size: 33px;
    color: rebeccapurple;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
}

nav ul {
    display: flex;
    max-width: 100%;
    list-style: none;
    justify-content: center;
    align-items: center;

}

nav ul li {
    margin: 0 6px;
}

.ss {

    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 8px 10px;
    transition: all 0.5s ease;
    border-radius: 12px;
}

.ss:hover {
    background: rgb(209, 78, 192);
}

.ico {
    color: rgb(209, 78, 192);
    font-size: 1.8rem;

}

.main {
    text-align: center;
    background-color: rgb(250, 219, 246);
}

.cross {
    font-size: 10rem;
    background-color: rgb(247, 189, 239);
    border-radius: 30px;
    color: red;

}

h1 {
    color: red;
}

/********************Marquee Work here *****/
.container {
    margin-top: 1rem;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    font-family: 'Prompt', sans-serif;
    font-size: 1.2rem;
    color: red;
}

.scrolling {
    animation: marquee 3s alternate-reverse linear infinite;
    display: inline-block;
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

/*course book works here *****/

.coursebook {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background: rgb(244, 228, 255);
    max-width: 100%;
    height: 300px;

}

.ico_coursbook {

    font-size: 5rem;
}

.Course_btn {
    text-align: center;
    animation: mymove 1000s infinite;
    transition: transform 1s;
    border-radius: 15px;
}

.Course_btn:hover {
    animation: mymove1 5s infinite;
    transform: scale(1.1);
}

.Course_btn a {
    text-decoration: none;
    color: black;
}


.coursebookimg {
    max-width: 50%;
}

.course_book_heading {
    font-size: 0.8rem;
}


/************footer work here ***********/

footer {
    background-color: rgb(250, 219, 246);

}

.quick h1 {
    text-align: center;
    color: rgb(204, 71, 216);
    font-size: 1.4rem;
    padding-top: 1rem;
    margin-bottom: 2rem;

}

.quick ul {

    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.quick ul li {

    padding: 6px;
}

.shear_maintainer {
    margin-top: 3rem;
    padding-bottom: 0.6rem;
    display: flex;
    justify-content: space-between;


}

.shear {
    display: flex;
    align-items: center;
    padding: 5px;

}

.shear i {
    padding-left: 15px;
}

footer i:hover {
    scale: 170%;
    color: rgb(221, 85, 85);
    transition: 0.5s;
}

.m-logo {
    display: flex;
    justify-content: end;
    align-items: center;

}

.m-logo img {

    margin: 3px;
    max-width: 35px;

}


.m-logo img:hover {
    scale: 170%;
    transition: 0.5s;
}


/* copyright & designed heading */

.ms {
    color: rgb(221, 85, 85);
    transition: 0.5s;
    margin-right: 20px;
    text-align: center;
}

.copyRight {
    color: rgb(221, 85, 85);
    text-align: center;
    
}
