@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f4f9fa;
}

.bg {

    background: #f4f9fa;
}

nav {
    align-items: center;
    opacity: 0.95;
    position: fixed;
    z-index: 1111;
    width: 100%;
    /* padding: 0px 50px 0px 90px; */
    height: 100px;
    background: #ef32d9;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #89fffd, #ef32d9);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #89fffd, #ef32d9);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    /* align-items: center; */
    /* border-bottom: 3px solid  #b2edf7; */
    box-shadow: 1px 1px 1px 1px #c3e7ee;

}

.logo h2 {
    font-family: 'Tangerine', serif;
    color: rgb(94, 22, 94);
    font-size: 2.7rem;
    font-weight: 900;
    text-shadow: 7px 5px 6px;
}

nav .logo {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    font-size: 33px;
    color: rgb(40, 185, 161);
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
}

.head{
    text-align: center;
}

nav ul {
    display: flex;
    max-width: 100%;
    list-style: none;
    justify-content: center;
    align-items: center;


}

nav ul li {
    margin: 0 6px;
}

.ss {
    font-family: 'Gemunu Libre', sans-serif;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 8px 10px;
    transition: all 0.5s ease;
    border-radius: 12px;
}

.ss:hover {
    background: rgb(197, 235, 255);
}

.ico {
    color: #000000;
    /* color: #19547b; */
    /* color: #429ef3; */
    /* fallback for old browsers */
    font-size: 1.8rem;

}


.main {
    position: relative;
    top: 100px;
    height: 350px;
    margin-bottom: 8rem;
    background-image: url("../src/header.png");
    padding-top: 3rem;
    background-color: #f4f9fa;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

}

/* box-shadow: 2px 2px 2px 2px rgb(141, 167, 221); */

.wel h1 {
    color: #daf8f8;
    font-size: 2.3rem;

}



/* auto text effect */

.autoEffect {
    padding: 1rem;

}


.auto {
    margin-left: 5px;
    width: 0ch;
    overflow: hidden;
    white-space: nowrap;
    animation: text 6s infinite alternate;
}


.redHead {
    color: rgb(223, 230, 250);
    font-size: 1.3rem;
}

.welcome {
    margin-top: 0.8rem;
    margin-left: 3rem;
    color: #4ca2cd;
    font-size: 1.6rem;
}

/* search bar work start from here */
.search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.searchb {
    outline: none;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 900;
    font-family: 'Gemunu Libre', sans-serif;
    width: 40%;
    height: 30px;
    background-color: #c3e7ee;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    border: none;
}

.search_button {
    padding: 0 1rem;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #b1dde6;
    height: 30px;
    border: none;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.search_button:hover {
    color: #A43931;
}

/* search bar work end here */


/*course book works here *****/

.coursebook {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
    margin-bottom: 3rem;

}

.ico_coursbook {

    font-size: 5rem;
}

.Course_btn {
    width: 45%;
    height: 170px;
    margin-top: 2rem;
    padding-top: 2rem;
    text-align: center;
    transition: transform 0.6s;
    border-radius: 15px;
    animation: fadeEffect 1.5s; /* Fading effect takes 1 second */

}

  
  /* Go from zero to full opacity */
  @keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }


.Course_btn:hover {
    background-color: #e4f6fa;
    box-shadow: 1vw 1vw 1vw rgb(141, 167, 221);
    transform: scale(1.01);
}

.Course_btn a {
    text-decoration: none;
    color: black;
}


.coursebookimg {
    max-width: 80%;
}

.course_book_heading {
    font-size: 1rem;
    text-align: center;

}


.firstcolor {
    background: #FFAFBD;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffc3a0, #FFAFBD);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffc3a0, #FFAFBD);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.secondcolor {
    background: #3494E6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EC6EAD, #3494E6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EC6EAD, #3494E6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.thirdcolor {
    background: #67B26F;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4ca2cd, #67B26F);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4ca2cd, #67B26F);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.fourthcolor {
    background: #A770EF;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FDB99B, #CF8BF3, #A770EF);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FDB99B, #CF8BF3, #A770EF);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.fifthcolor {
    background: #ffd89b;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #19547b, #ffd89b);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #19547b, #ffd89b);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.sixcolor {
    background: #42275a;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #734b6d, #42275a);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #734b6d, #42275a);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.sevencolor {
    background: #2C3E50;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FD746C, #2C3E50);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FD746C, #2C3E50);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.eightcolor {
    background: #1D4350;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #A43931, #1D4350);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #A43931, #1D4350);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}



/************footer work here ***********/

footer {
    background-color: rgb(48, 46, 48);
    font-family: sans-serif;

}

.quick h1 {
    text-align: center;
    font-family: 'Tangerine', serif;
    color: rgb(95, 93, 95);
    font-size: 2.7rem;
    font-weight: 900;
    text-shadow: 7px 5px 6px;

}

.quick h1:hover{
    color: rgb(138, 133, 138);
} 

.quick ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;

}

.quick ul li {

    padding: 6px;
}

.shear_maintainer {
    margin-top: 3rem;
    padding-bottom: 0.6rem;
    display: flex;
    justify-content: space-between;


}

.followUs h4 {
    font-size: 12px;
    text-align: center;
    color: #f4f9fa;
    border-bottom: 2px solid rgb(66, 61, 61);
    width: max-content;
    margin-left: 3.2rem;
    padding-bottom: 2px;

}

.followUs h4:hover,
.dh:hover, .readmore h3:hover {
    color: #3494E6;
    border-bottom: 2px solid rgb(211, 97, 21);
    transition: 1s;

}

.shear {
    display: flex;
    align-items: center;
    padding: 5px;

}

.shear i {
    padding-left: 15px;
}

footer i:hover {
    color: #e4f6fa;
    transition: 0.5s;
}


.m-logo img {

    margin: 3px;
    max-width: 35px;

}


/* copyright & designed heading */

.ms {
    color: rgb(255, 255, 255);
    transition: 0.5s;
    margin-right: 20px;
    text-align: center;


}


.dh {
    font-size: 12px;
    border-bottom: 2px solid rgb(66, 61, 61);
    width: max-content;
    padding-bottom: 3px;
}

.copy {
    box-shadow: 3px 3px 3px 3px rgb(31, 32, 36);
    padding-top: 1.6rem;
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.policy {
    color: rgb(255, 255, 255);
    cursor: pointer;
}



.copyRight {
    color: rgb(255, 255, 255);
    text-align: center;
    cursor: pointer;

}

.bb {
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
}


/* Night and Dark Mode works */


.logo h2 {
    width: 95%;
}

 .ssb{ 
    width: 5%;
    text-align: end;
    margin-left: 10px;
    
} 




.intohead{
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem 2rem 0 2rem;
    border-radius: 10px;
    height: 50%;
    background-color: #e4fcff;
    box-shadow: 1px 1px 7px 1px #4f5152;
}

.intromoti{
    /* border: 2px solid red; */
    padding: 1rem;
    color: rgb(85, 77, 77);
    font-family: 'Gemunu Libre', sans-serif;
    letter-spacing: 2px;
}

.introimg{
    border-radius: 1rem;
    margin: 1rem;
    box-shadow: 1px 1px 3px black;
    max-width: 25%;
    float: right;

}

.readmore{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 2rem;
}

.readmore h3 {
    border-bottom: 2px solid rgb(184, 173, 173);
    opacity: 0.6;
    font-size: 1.3rem;
}
.readmore i {
    opacity: 0.6;
    font-size: 2.5rem;
    color: #3494E6;
    cursor: pointer;
    
}

.morecourse{
    display: none;
}







