@media screen and (max-width:960px){

.ss {
    display: none;
    
}
.ico {
    padding: 0px 10px;
}

.coursebook{

    display: block;
    height: 670px;

}
.java,.uml,.linux,.dbms,.cd,.cn,.toc,.os {
    margin-bottom: 50px;
}

}